.button {
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: 35px;
  font-size: 20px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;

  // @include hover {
  //   color: var(--color-dark);
  //   background-color: var(--color-accent);
  // }

  &--transparent {
    @include hover {
      color: var(--grey-fifty);
      background-color: var(--color-footer-light);
    }
  }

  &--dark {
    @include hover {
      opacity: 0.7;
    }
  }

  &--white {
    @include hover {
      color: var(--color-dark-alt);
      background-color: var(--color-footer-light);
    }
  }
}