.footer {
    display: flex;
    flex-direction: column;
    max-width: 1521px;
    width: 100%;
    row-gap: 64px;
    background: linear-gradient(87deg, #101828 0.18%, #233250 99.39%);
    color: var(--color-footer-light);
    align-items: center;
    padding-top: 64px;

    @include desktop {
        padding-inline: 32px;
    }

    &__tags {
        display: flex;
        flex-direction: row;
        gap: 64px;
        max-width: 1216px;
        width: 100%;

        @include mobile {
            flex-direction: column;
            gap: 30px;
            align-items: center;
        }

        @include mobile-s {
            align-items: flex-start;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        max-width: 320px;
        width: 100%;

        @include mobile {
            row-gap: 20px;
            max-width: 290px;
        }

        @include mobile-s {
            max-width: 320px;
        }
    }

    &__logo {
        display: flex;
        flex-direction: row;
        column-gap: 11px;
        align-items: center;

        &__text {
            color: var(--color-light);
            font-size: 20px;
            font-weight: 700;
            line-height: 120%;
        }

        @include mobile {
            margin-left: 22%;
        }

        @include mobile-s {
            margin-left: 0%;
        }
    }

    &-text {
        color: #CECECE;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
        max-width: 1280px;
        width: 100%;
        padding-block: 20px 40px;
        border-top: 1px solid rgba(206, 206, 206, 0.50);

        @include mobile {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
    }

    &__copyright {
        color: var(--color-footer-light);
        font-family: Inter;
        font-weight: 400;
        line-height: 150%;
    }

    &__soc1als {
        display: flex;
        flex-direction: row;
        column-gap: 16px;

        & svg {
            cursor: pointer;
        }
    }
}