.footer {
    &__tag-inner {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 32px;
        max-width: 832px;
        width: 100%;

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px 45px;
            justify-items: center;
        }

        @include mobile-s {
            justify-items: start;
        }
    }

    &__tag-container {
        display: flex;
        flex-direction: column;
        column-gap: 16px;
        max-width: 141px;
        width: 100%;
        max-height: 168px;
        height: 100%;

        @include mobile {
            width: fit-content;
            min-width: 79px;
        }

        @include mobile-s {
            min-width: none;
        }
    }

    &__tag-title {
        color: var(--color-light);
        font-family: Inter;
        font-size: 18px;
        font-weight: 700;
        line-height: 143%;
        max-width: 141px;
        width: 100%;

        @include mobile {
            width: fit-content;
            min-width: 79px;
        }

        @include mobile-s {
            min-width: none;
        }
    }

    &__tag-list {
        display: flex;
        flex-direction: column;
        column-gap: 12px;
    }

    &__tag {
        color: var(--color-footer-light);
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        line-height: 170%;
        max-width: 141px;
        width: 100%;
        cursor: pointer;
        width: fit-content;
        min-width: 79px;

        @include hover {
            color: var(--color-light);
        }

        @include mobile-s {
            min-width: none;
        }
    }
}