.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-desktop {
  display: block; 
  @include desktop {
    display: none !important;
  }
}

.hidden-mobile {
  display: block; 
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  display: none; 
  @include mobile {
    display: block !important; 
  }
}